---
const { title = "Maywa Textil" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-[#341D58] via-[#5A189A] via-20% via-[#9D4EDD] via-40% via-[#E0AAFF] via-60% via-[#9D4EDD] via-80% to-[#5A189A]">
    <slot />
  </body>
</html>
